{% extends 'base/base.html' %}{% load static wagtailcore_tags wagtailimages_tags %}{% block content %}
    <section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.65">
        <span class="bg-overlay" style="opacity: {{ self.overlay_opacity }}; background-color: {{ self.overlay_color }}"></span>{% image self.title_image width-1920 as title_background %}
        <div class="jarallax-img" style="background-image: url({{ title_background.url }});"></div>
        <div class="cs-shape cs-shape-bottom cs-shape-slant bg-body">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
                <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
            </svg>
        </div>
        <div class="container bg-overlay-content pt-3 pb-7 pt-md-0">
            <div class="row justify-content-center pb-2 pt-6">
                <div class="col-lg-10">
                    <h1 class="text-light">{{ page.title }}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="py-1 my-2 breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/" class="text-light">Home</a></li>
                            <li class="breadcrumb-item active text-light" aria-current="page">{{ page.title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="container bg-overlay-content pb-5">
        <div class="row">
            <div class="col-12 pb-2 mb-5" style="margin-top: -200px;">
                <div class="container py-4 mb-2 mb-sm-0 pb-sm-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            {% if accepting_applications %}
                                <div class="card mb-grid-gutter box-shadow-lg">
                                    <div class="card-body">
                                        <h2 class="text-primary">Accepting Applications:</h2>
                                        {% for post in accepting_applications %}
                                            <article class="card card-horizontal card-hover mb-grid-gutter bg-primary">
                                                <a class="card-body card-link" href="{{ post.url }}">
                                                    <h2 class="h4 nav-heading text-light">{{ post.title }}</h2>
                                                    <p class="px-0 py-0 my-0 text-light">{{ settings.core.BusinessSettings.name }}
                                                        <span class="text-light opacity-60">- Sonora, CA 95370</span>
                                                    </p>
                                                    <p class="text-light">{{ post.position_type }}</p>
                                                    <div class="text-right text-nowrap">
                                                        <p class="meta-link font-size-sm my-0 text-light">
                                                            <i class="fe-alert-circle mr-1"></i>&nbsp;Status:
                                                            <b>{{ post.status }}</b>
                                                        </p>
                                                        <span class="meta-divider"></span>
                                                        <p class="meta-link font-size-sm my-0 text-light">
                                                            <i class="fe-calendar mr-1 mt-n1"></i>&nbsp;{{ post.updated_on.date }}
                                                        </p>
                                                    </div>
                                                </a>
                                            </article>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if interviewing %}
                                <div class="card mb-grid-gutter box-shadow-lg">
                                    <div class="card-body">
                                        <h2 class="text-primary">Interviewing Applicants:</h2>
                                        {% for post in interviewing %}
                                            <article class="card card-horizontal card-hover mb-grid-gutter bg-faded-primary">
                                                <a class="card-body card-link" href="{{ post.url }}">
                                                    <h2 class="h4 nav-heading text-darker">{{ post.title }}</h2>
                                                    <p class="px-0 py-0 my-0 text-primary">{{ settings.core.BusinessSettings.name }}<span class="text-body"> - Sonora, CA 95370</span>
                                                    </p>
                                                    <p class="text-body">{{ post.position_type }}</p>
                                                    <div class="text-right text-nowrap">
                                                        <p class="meta-link font-size-sm my-0">
                                                            <i class="fe-alert-circle mr-1"></i>&nbsp;Status:<b class="text-primary"> {{ post.status }}</b>
                                                        </p>
                                                        <span class="meta-divider"></span>
                                                        <p class="meta-link font-size-sm my-0">
                                                            <i class="fe-calendar mr-1 mt-n1"></i>&nbsp;{{ post.updated_on.date }}
                                                        </p>
                                                    </div>
                                                </a>
                                            </article>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if position_filled %}
                                <div class="card mb-grid-gutter box-shadow-lg">
                                    <div class="card-body">
                                        <h2 class="text-primary">Filled Positions:</h2>
                                        {% for post in position_filled %}
                                            <article class="card card-horizontal mb-grid-gutter bg-darker box-shadow">
                                                <div class="card-body">
                                                    <h2 class="h4 text-light">{{ post.title }}</h2>
                                                    <p class="my-0 text-light opacity-80">{{ settings.core.BusinessSettings.name }}
                                                        <span class="text-light opacity-70">- Sonora, CA 95370</span>
                                                    <p class="text-light opacity-75">{{ post.position_type }}</p>
                                                    <div class="text-right text-nowrap">
                                                        <p class="meta-link font-size-sm my-0 text-light opacity-90">
                                                            <i class="fe-alert-circle mr-1"></i>&nbsp;Status:
                                                            <b>{{ post.status }}</b>
                                                        </p>
                                                        <span class="meta-divider"></span>
                                                        <p class="meta-link font-size-sm my-0 text-light opacity-90">
                                                            <i class="fe-calendar mr-1"></i>&nbsp;{{ post.updated_on.date }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </article>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if not accepting_applications and not interviewing and not position_filled %}
                                <div class="card mb-grid-gutter box-shadow">
                                    <div class="card-body my-4">
                                        <h2 class="text-primary text-center">We are not accepting applications at this time.</h2>
                                        <h3 class="text-body text-center">Thank you for your interest!</h3>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'vendor/jarallax/dist/jarallax.min.js' %}"></script>
{% endblock %}