<div class="container">{% load static wagtailcore_tags wagtailimages_tags %}
    <section class="py-3">
        <div class="row pb-md-2">
            <div class="col-md-5 justify-content-center text-center">
                <picture>
                    {% image self.image fill-280x280 format-webp as image_webp %}
                    <source srcset="{{ image_webp.url }}" type="image/webp">
                    {% image self.image fill-280x280 format-png as image_png %}
                    <source srcset="{{ image_png.url }}" type="image/png">
                    {% image self.image fill-280x280 class="rounded-circle" format-png %}
                </picture>
                <h3 class="h5 pt-3">{{ self.name }}</h3>
                <p class="font-size-sm mb-4 pb-2">{{ self.position }}</p>
            </div>
            <div class="col-md-7 pt-4 pt-md-0 mb-lg-4 pb-lg-2">
                <h3 class="h5">{{ self.title }}</h3>
                <div class="font-size-lg">{{ self.bio|richtext }}</div>
            </div>
        </div>
    </section>
</div>