<section class="container py-5 py-md-6 py-lg-5">
    <div class="text-center mb-5 pt-3 pt-lg-4">
        <h2 class="h1">{{ self.title }}</h2>
    </div>
    <div class="row pt-3 pt-lg-4">
        <div class="col-md-6">
            {% for person in self.people %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="d-flex mb-4 pb-2"><i class="{{ self.bullet_icon }} h4 text-success"></i>
                        <div class="pl-3">
                            <h3 class="h5">{{ person.heading }}</h3>
                            <p class="font-size-md mb-0">{{ person.text }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for person in self.people %}
                {% if not forloop.counter|divisibleby:2 %}
                    <div class="d-flex mb-4 pb-2"><i class="{{ self.bullet_icon }} h4 text-success"></i>
                        <div class="pl-3">
                            <h3 class="h5">{{ person.heading }}</h3>
                            <p class="font-size-md mb-0">{{ person.text }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>