{% load static %}

{% block extra_css %}
    <link rel="stylesheet" media="screen" href="{% static 'vendor/tiny-slider/dist/tiny-slider.css' %}"/>
{% endblock %}

<section class="container mt-md-0 pt-md-2 pb-2">
    <div class="cs-carousel">
        <div class="cs-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: false, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1, &quot;gutter&quot;: 16},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 16},&quot;850&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 16}, &quot;1100&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 23}}}">
            {% for card in self.cards %}
                <div class="pb-2">
                    <article class="card card-hover h-100 border-0 shadow-lg pt-2 pb-2 mx-1">
                        <div class="card-body pt-3 pt-4 pt-xl-5 text-center">
                            <i class="{{ card.icon }} h2" style="color: {{ card.icon_color }};"></i>
                            <h3 class="h4 mb-2 mx-4">{{ card.title }}</h3>
                            <div class="font-size-md">{{ card.subtitle }}</div>
                            <a class="btn {{ card.button.button_color }} mx-auto mt-4" href="{{ card.button.url }}" {% if card.button.new_tab %}target="_blank" rel="noopener"{% endif %}>{{ card.button.button_text }}</a>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% block extra_js %}
    <script src="{% static 'vendor/tiny-slider/dist/min/tiny-slider.js' %}"></script>
{% endblock %}